.items-contents {
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
}

.itemListTable {
    /*border: 0.5px solid black;*/
    /*border-collapse: collapse;*/
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7px;
}

.itemListTable tr {
    margin-left: auto;
    margin-right: auto;
}
.itemListTable td {
    border: 0.5px solid black;
    border-collapse: collapse;
    margin-left: auto;
    background-color: whitesmoke;
}

.image_thumbnail {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.itemListTable td:hover {
    background-color: #828a9b;
    text-decoration: none;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1000;
}

.itemListTable td {
     -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.items-name {
    font-size: 18px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.items-price {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

.previousItems {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.previousItems td{
    padding-right: 10px;
}

